.vscode
.idea
services/htmlToimage/vendor
services/htmlToimage/debug
services/htmlToimage/htmlToimage
services/sessions/debug
services/sessions/vendor
services/sessions/zale144
services/web/web
services/web/vendor
services/web/debug
services/api/vendor
