{{define "calling-card"}}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta property="og:image:url" content="{{.AppURL}}/static/image/profiles/{{.Username}}.jpg" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="442" />
    <meta property="og:title" content="Cabani" />
    <meta property="og:url" content="{{.AppURL}}/calling-card/{{.Username}}" />
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
REGISTER HERE -->
</body>
</html>
{{end}}